body {
  font-family: "Nunito", sans-serif;
}

.date,
.conditions,
.feellike {
  font-size: 20px;
  margin: 10px;
  color: #3b7477;

}

.feels-like {
  font-size: 20px;
  color: #3b7477;
  margin: -7px;
}

.degrees {
  color: #3b7477;
  font-size: 20px;
  margin: 8px;
}


.temp-display,
.city {
  text-align: right;
  font-size: 30px;
  color: #305b5e;
  padding: 0 auto;
  margin: -3px 55px;
  position: relative;
  top: -2em;
}

.units {
  position: relative;
  font-size: 16px;
  top: -1.7em;
  left: 2em;
}

a {
  text-decoration: none;
}

#showTemp {
  position: relative;
  left: -0.5em;
  font-size: 40px;
}

.dG {
  position: relative;
  left: 1.4em;
  bottom: 1.8em;
}

.temperature {
  margin: 0 auto;
  font-size: 18px;
  text-align: right;
  font-style: oblique;
  padding-right: 10px;
}

.card-body {
  background: #ece9e9;
  border-radius: 10px;
}

.fondo {
  border-radius: 15px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  background: #add2c9;
  margin-bottom: -1em;
  max-width: 700px;
  max-height: 350px;


}

.card {
  border-radius: 15px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  max-width: 700px;
  margin: 10px auto;


}

.card-body1 {
  background: #add2c9;
  border-radius: 15px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  opacity: 0.8;
  font-family: "Nunito", sans-serif;
  max-width: 700px;
  max-height: 350px;

}

.input {
  margin: 10px;
  border: solid rgba(255, 255, 255, 0.5);
}

.button {
  margin: -9px;
  background-color: #488b8f;
  border: 1px solid;
  color: #f7f6e7;
  border-radius: 5px;
}

.button_currentCity {
  margin: 9px;
  background-color: #488b8f;
  border: 1px solid;
  color: #f7f6e7;
  border-radius: 5px;
}

.row {

  text-align: center;
  padding: 30px 10px 5px;
  font-size: 18px;
  color: #488b8f;
}

.temphigh-icon,
.hum-icon,
.wind-icon,
.temp-icon {
  font-size: 40px;
  margin-top: 10px;
  margin-right: 5px;
}

.days {
  font-size: 20px;
  font-weight: bolder;
  color: #305b5e;
  margin: 5px 5px;
}

#icon-forecast {
  width: 50px;
}


#forecast-max-temp,
#forecast-min-temp {
  font-size: 20px;
}

footer {
  text-align: center;
  font-size: 12px;
}